:global {
  .Dashboard__content > .Cell.six {
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }
    .Dashboard__content > .Cell::-webkit-scrollbar {
      display: none;
    }


  .Background-image {
    /*background-image: url('./main-bg.jpg');*/
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .Header {
    background-color: #fff;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
  }
  .Header > .container {
    height: 60px;
  }
  .Brand h1 {
    /*font-family: 'Montserrat';
    font-size: 3.4rem;
    font-weight: bold;
    margin: 0;*/
    font-family: 'Leckerli One', cursive;
    color: #2b8752;
    font-size: 4rem;
    margin: 0;
    text-decoration: none;

  }
  nav {
    a {
      color: #9B489B;
      &:after {
        background-color: #9B489B;
        content:'';
        display: block;
        height: 3px;
        transition: width .3s;
        width: 0%;
      }
      &:hover {
        color: #89269B;
        text-decoration: none;
        &:after {
          width: 100%;
        }
      }
    }
  }
  .Profile {
    text-align: right;
  }
  .Profile__img {
    border-radius: 50%;
    height: 30px;
    margin-right: 1rem;
    width: auto;
  }
  .Profile__name {
    font-size: 1rem;
  }


  main {
    margin-top: 8rem;
    position: relative;
    z-index: 10;
  }

  /* Job */
  .Job__header {
    margin: 1rem 0 2rem;
  }
  .Job__title {
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
  }
  .Job__company {
    color: rgba(255,255,255,0.8);
    font-weight: bold;
    letter-spacing: 0.15rem;
    margin-bottom: 10px;
  }
  .Job__link a {
    color: #30533F;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-decoration: none;
  }
    .Job__link a:hover {
      color: #000;
    }
  .Icon__img {
    height: 25px;
    width: auto;
  }





  /* Forms */
  .Dashboard {
    h3 {
      font-family: 'Montserrat';
      font-weight: bold;
      margin-bottom: 3rem;
    }

    form {
      button {
        box-shadow: 0 5px 30px 0 rgba(0,0,0,0.30);
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
        }
    }
    }

    .textarea,
    textarea {
      background-color: rgba(255,255,255,0.3);
      border: none;
      font-family: 'Montserrat';
      font-size: 2rem;
      padding: 6px 10px;
      min-height: 200px;
      white-space: pre-wrap;
      width: 100%;
      &:focus {
        border: none;
      }
    }
  }
  .Job__form {
    input[type=text] {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      padding: 0 1.5rem;
      &:focus {
        border: none;
        border-bottom: 1px solid #fff;
        /*box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);*/
      }
    }
    input[type=text],
    textarea {
      transition: all .3s;
      width: 100%;
    }
  }
  



  /* LIsts */
  .List {
    list-style: none;
  }




  .Card {
    background: #fff;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.30);
    border-radius: 5px;
    height: 100%;
    padding: 20px;
  }
  .Job {
    transition: all .3s ease-in-out;
    &:hover {
      box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .Job,
  .Note {
    height: auto;
    max-height: 250px;
    margin-bottom: 3.5rem;
    position: relative;
    transition: all .3s ease-in-out;
    transform: scale(1);
    width: 100%;
    &:hover {
      box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
      transform: scale(1.05);
      .Close {
        right: -10px;
        top: -10px;
      }
    }
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .Note {
    overflow: hidden;
  }
    
  .Note__content {
    border: none;
    height: 100px;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
    .Note__content:focus {
      border: none;
    }

  .Note__title {
    font-weight: bold;
    letter-spacing: 0.3rem;
  }

  .Note__bubble {
    background-color: #ADF2EB;
    height: 25%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
  }
  .Note.Card {
    white-space: pre-wrap;
  }
  .Note__bubble {
    background-color: #ADF2EB;
    height: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
  }
  .Close {
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    color: rgb(255,0,0);
    height: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    width: 3rem;
    padding: 0;
    line-height: 0;
    transition: all .3s ease-in-out;
    transform: scale(1);   
    &:hover {
      background-color: rgba(255,0,0,0.6);
      box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
      color: #fff;
      transform: scale(1.25);
    }
  }
.koala{
    font-family: 'Leckerli One', cursive;
    color: #2b8752;
    font-size: 200%;
  }




  footer {
    background-color: #48E28A;
    /*border-bottom: 40px solid #564d65;*/
  }






}
